html, body{
  font: normal 100%/1.5 Signika,sans-serif; } 

h6{
  font-size: 1rem; 
}
  
h5{ font-size: 1.125rem; }

h4{
  font-size: 1.266rem;
}

h3{font-size: 1.424rem;}

h2{font-size:1.602rem;}

h1{ font-size: 1.802rem;}


/*.carousel-inner>.item>img {
min-height: 460px;
max-height: 300px;
width: 100%;
}*/

/* CUSTOMIZING THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel {
/*height: 500px;*/
margin-bottom: 0px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
height: 500px;
background-color: #777;
}
.carousel-inner > .item > img {
position: absolute;
top: 0;
left: 0;
min-width: 100%;
opacity:0.2%;
/*    height: 500px;
*/  }

/*.slider-img{
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1)
  )
}
*/

/*breadcrumb */
.breadcrumb {
background: rgba(245, 245, 245, 0);
border: 0px solid rgba(245, 245, 245, 1);
border-radius: 25px;
display: block;
}

.btn-bread{
margin-top:50px;
font-size: 12px
}

/*body-content*/
.body-content{
margin-top: 40px;
border: 0px solid black;
/* height: 800px; */
}


.breadcrumb > li + li:before {
content:"\003E";
}

.donation{
border: 4px solid #008FD5;
margin-left: 20px;
margin-right: 20px;
font-weight: 700;
margin-bottom: 30px;
padding: 5px;
margin-top: 20px;
text-align:center;
/*  position: relative;
left: 10px; */
}

#donation-heading{
font-weight: 900;
letter-spacing:2px;
line-height: 30px;
}

.row-1{
margin-bottom: 30px;
}
.btn-lg_body{
letter-spacing:2px;
}

.about-diabetes-p{
text-align: justify
}

/*FOOTER */
i {
font-size : 12px;
color: #aece61;
padding-right:10px;
}

.footer {
position: relative;
background-color: #092746;
color: #7d7975;
padding: 95px 0 50px;
font-size:16px;
}

.footer p {
line-height:26px;
color : #fff;
width: max-content;

}
.footer h5 {
font-size: 22px;
font-weight: 700;
color: #aece61  ;
position: relative;
padding-bottom: 16px;
}
.footer h5:after {
content: '';
display: block;
margin: 5px 0 0;
width: 40%;
height: 1px;
/* background-color:  ; */
}

.footer ul {
list-style: none;
line-height:35px;
margin: 0px 0px 0px -35px;
color: #FFF;


}
/* .footer a {
color:# ;

} */
.footer a:hover {
color: #aece61 ;
}

.btn-lg_footer{
margin-top: 15px;
margin-left:40px;

}

/* stay connected - social media */

.social:hover {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
}
.social {
-webkit-transform: scale(0.8);
/* Browser Variations: */

-moz-transform: scale(0.8);
-o-transform: scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
}

/*
Multicoloured Hover Variations
*/

#social-fb:hover {
color: #3B5998;
}
#social-tw:hover {
color: #4099FF;
}
#social-gp:hover {
color: #d34836;
}
#social-em:hover {
color: #f39c12;
}


/* newsletter */

/*body{
font-family: 'Raleway', sans-serif;
}
*/
.form-newsletter{
margin-top: 18px;
margin-left: -60px ;
width: max-content;
}

.search-text {
height:45px;
padding-left:60px;
color:#333;
padding-bottom:60px;

}

.input-search{
height:45px;
padding-left:5px;
color:#333;
}


.search-text .btn-search{
font-family:'Raleway', sans-serif;
border:none;
color:#FFF;
height: 45px;
letter-spacing: 1.5px;
padding: 1px;
width: 80px;
}

.search-text h4{
color:#888582;
font-weight: 700;
font-family: 'Raleway', sans-serif;
font-size: 18px;
color: #aece61;
width:max-content;
margin-top: 50px;
}

/*footer bottom */
.footer-bottom {
padding-top: 10px;
padding-bottom: 25px;
border-top: 1px solid #2f2f33 ;
background: #1e1d22  ;
}

.copyright-text p {
color: #7d7975;
margin-top: 18px;
margin-bottom: 0;
font-size:15px;
}

.copyright-text a {
color: #7d7975;
margin: 0px 10px 0px 10px;
}

.copyright-text a:hover {
color: #aece61  ;
}
